/** Skeleton */
html, body {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: 'digitalstrip', Helvetica, Verdana, sans-serif;
    overflow: hidden;
}

.page-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    overflow-y: auto;
}

.logo {
    height: 455px;
    margin-top: 40px;
    background: url("img/red-dart-logo.png") 50% 50% no-repeat;
}

.logo-pilpil {
    display: inline-block;
    width: 181px;
    height: 242px;
    background: url("img/logo-pilpil.png") 50% 50% no-repeat;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    1px 1px 2px rgba(0, 0, 0, 0.75);
    box-shadow:         1px 1px 2px rgba(0, 0, 0, 0.75);
}

/** General **/
.align-center {
    text-align: center;
}
.clearfix {
    clear: both;
}
.mvm {
    margin-top: 8px;
    margin-bottom: 8px;
}
.mvl {
    margin-top: 16px;
    margin-bottom: 16px;
}
.mll {
    margin-left: 16px;
}
.email {
    font-family: Helvetica, Verdana, sans-serif;
    color: #9A2820;
}
.highlight {
    font-weight: bold;
}
/** Menu */
.main-menu-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 150;
}
    .main-menu-items {
        float: right;
        height: 65px;
        background: url("img/red-dart-menu-bg.png") 50% 50% no-repeat;
        width: 454px;
        text-align: center;
    }
        .main-menu-item {
            display: inline-block;
            padding: 17px;
            font-size: 24px;
        }
            .main-menu-item a, .main-menu-item a:visited {
                color: #fff;
                text-decoration: none;
            }
            .main-menu-item a:hover, .main-menu-item:active {
                color: #d4321d;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
                text-decoration: none;
            }

/** Sections hiding and showing */
.section-home, .section-about, .section-blog, .section-story {
    display: none;
}
.home .section-home, .about .section-about, .blog .section-blog, .story .section-story {
    display: block;
}
.home .main-menu-item .action-home, .about .main-menu-item .action-about, .blog .main-menu-item .action-blog, .story .main-menu-item .action-story {
    color: #d4321d;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}
/** Social buttons */
.social-buttons-container {
    text-align: center;
}
    .social-button {
        display: inline-block;
        position: relative;
    }
    .social-button:hover {
        -webkit-transform: translate(0,-5px);
        -moz-transform: translate(0,-5px);
        -ms-transform: translate(0,-5px);
        transform: translate(0,-5px);

        -webkit-transition: -webkit-transform 0.2s ease-out;
        -moz-transition: -moz-transform 0.2s ease-out;
        -o-transition: -o-transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
    }
/** Footer */
.footer {
    text-align: center;
}
    .footer-content {
        margin: 20px 0 10px 0;
        padding: 12px;
        border-radius: 8px;
        display: inline-block;
        background: black;
        color: white;
    }

/** Parallax */
.parallax-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
    .parallax-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-transition: -webkit-transform 1s ease-out;
        -moz-transition: -moz-transform 1s ease-out;
        -o-transition: -o-transform 1s ease-out;
        transition: transform 1s ease-out;
    }
        .parallax-bg-1 {
            background: url("img/red-dart-bg-1.jpg") 0 0 no-repeat transparent;
            background-size: cover;
            z-index: 5;
            right: -12%;
        }
        .parallax-bg-2 {
            background: url("img/red-dart-bg-2.png") 0 0 no-repeat transparent;
            background-size: cover;
            z-index: 10;
            top: 20%;
            right: -18%;
        }
        .parallax-bg-3 {
            background: url("img/red-dart-bg-3.png") 0 0 no-repeat transparent;
            background-size: cover;
            z-index: 20;
            top: 77%;
            right: -24%;
        }
        .parallax-bg-4 {
            background: url("img/red-dart-bg-4.png") 0 0 no-repeat;
            background-size: cover;
            z-index: 30;
            top: 50%;
            right: -32%;
        }
        .parallax-bg-ufo {
            z-index: 15;
        }

/** UFO */
.ufo {
    position: absolute;
}
    .ufo1 {
        width: 64px;
        height: 39px;
        background: url("img/ufo1.png") 0 0 no-repeat;
        top: 40%;
        left: 0;
        z-index: 15;
        
        -webkit-animation: ufo1anim 50s infinite linear; /* Safari 5, Chrome */
        -moz-animation: ufo1anim 50s infinite linear; /* Firefox 5-15 */
        -o-animation: ufo1anim 50s infinite linear; /* Opera 12+ */
        animation: ufo1anim 50s infinite linear; /* Safari 5, Chrome, Firefox 16+ */
    }

        @-webkit-keyframes ufo1anim {
          0%   { -webkit-transform: translate(-20%,0); }
          50%  { -webkit-transform: translate(160%,0); }
          100% { -webkit-transform: translate(-20%,0); }
        }
        @-moz-keyframes ufo1anim {
          0%   { -moz-transform: translate(-20%,0); }
          50%  { -moz-transform: translate(160%,0); }
          100% { -moz-transform: translate(-20%,0); }
        }
        @-o-keyframes ufo1anim {
          0%   { -o-transform: translate(-20%,0); }
          50%  { -o-transform: translate(160%,0);}
          100% { -o-transform: translate(-20%,0); }
        }
        @keyframes ufo1anim {
          0%   { transform: translate(-20%,0); }
          50%  { transform: translate(160%,0); }
          100% { transform: translate(-20%,0); }
        }

/** Home section */
.home-video {
    text-align: center;
    height: 428px;
    width: 100%;
}
.home-appstore {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
    .appstore-button {
        display: inline-block;
        width: 189px;
        height: 60px;
        background: url("img/app-store-button.png") 50% 50% no-repeat;
    }
.home-feature {
    background: url("img/red-dart-feature-bg.png") 50% 50% no-repeat;
    width: 239px;
    height: 274px;
    display: inline-block;
    padding: 24px 40px 47px 17px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    font-size: 18px;
}

    .home-feature h2 {
        color: #9a2820;
        font-size: 25px;
        margin-bottom: 10px;
    }
/** Story section */
.section-inner-bg {
    background: rgba(255,255,255, 0.6);
    border-radius: 8px;
    padding: 24px;
}
    .no-rgba .section-inner-bg {
        background: #fff;
        border-radius: 8px;
        padding: 24px;
    }
    .section-story-inner p {
        font-size: 20px;
    }
    .section-story-item {
        margin: 8px 0;
        clear: both;
    }
        .section-story-image {
            float: left;
            height: 228px;
            width: 166px;
            margin-bottom: 12px;
            margin-right: 14px;
            overflow: hidden;
        }
        .section-story-image img{
            max-width: 100%;
            max-height: 100%;
        }
        .section-story-item  h2 {
            color: #d4321d;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
            font-size: 24px;
            padding-top: 50px;
            padding-bottom: 20px;
        }
/** About section */
.section-about-footnote {
    margin-top: 32px;
}
    .section-about-footnote-image {
        float: left;
        margin-right: 16px;
    }
    .section-about-footnote-text {
        padding-top: 32px;
    }

